body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightgoldenrodyellow;
}

.header {
  color: black;
  padding: 1em;
  margin: 0.5em 0;
}

.nav {
  background-color: lightcyan;
  margin: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
}

.item {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
  background-color: lightgray;
}