body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background: linear-gradient(to right, magenta, cyan);
}

.header {
  color: black;
  text-align: center;
  margin: 2em;
}

.nav {
  border: 7px double black;
  background: linear-gradient(to bottom, magenta, cyan);
  text-align: center;
  margin: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
}

.item {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
  background: linear-gradient(to right,cyan, magenta);
}

.info {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: darkgrey;
}