{% extends "layout.html" %}

{% block title %}Muokkaa arvostelua{% endblock %}

{% block content %}
<h2>Muokkaa arvostelua</h2>
<form action="/update_item" method="post">
<p>
    <label for="book_name">Kirjan nimi: </label> <br />
    <input type="text" name="book_name" id="book_name" required value="{{ item.book_name}}" maxlength="30"/>
</p>
<p>
    <label for="author">Kirjailija: </label> <br />
    <input type="text" name="author" id="author" required value="{{ item.author}}" maxlength="20"/>
</p>
<p>
    <label for="grade">Kokonaisarvosana (1–10): </label><br />
    <input type="number" name="grade" id="grade" min="1" max="10" step="0.5" required value="{{ item.grade}}"/>
</p>
<p>
    <label for="review">Arvostelu: </label><br />
    <textarea name="review" id="review" rows="15" cols="80" required maxlength="1000">{{ item.review}}</textarea>
</p>
<p>
{% for class in all_classes %}
    <p>
    <label for="class{{ class }}">{{ class }}</label>:
    <select name="classes" id="class{{ class }}">
    <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{class}}:{{option}}"selected>{{ option }}</option>
        {% else %}
        <option value="{{class}}:{{option}}">{{ option }}</option>
        {%endif%}
    {% endfor %}
    </select>
    </p>
{% endfor %}
</p>
<input type="hidden" name="item_id" value="{{ item.id }}"/>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
<input type="submit" value="Tallenna muutokset" />
</form>
{% endblock %}