<!DOCTYPE html>
<html>

<head>
    <title>Muokkaa arvostelua</title>
</head>

<body>
    <h1>Muokkaa arvostelua</h1>
    <form action="/update_item" method="post">
    <p>
        Kirjan nimi: <br />
        <input type="text" name="book_name" value="{{ item.book_name}}"/>
    </p>
    <p>
        Kirjailija: <br />
        <input type="text" name="author" value="{{ item.author}}"/>
    </p>
    <p>
        Kokonaisarvosana (1–10): <br />
        <input type="number" name="grade" min="1" max="10" step="0.5" value="{{ item.grade}}"/>
    </p>    
    <p>
        Arvostelu: <br />
        <textarea name="review" rows="15" cols="80">{{ item.review}}</textarea>
    </p>

    <input type="hidden" name="item_id" value="{{ item.id }}"/>
    <input type="submit" value="Tallenna muutokset" />

</form>


</body>

</html>