<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="header">
        <h1>
            Sivusto kirjojen arviointiin ja keskusteluun!
        </h1>
    </div>
    {% if session.username %}
    <p>
        Olet kirjautunut sisään käyttäjällä {{ session.username }}
    </p>
    {% endif %}
    <div class="nav">
        <p>
            <a href="/">Etusivu</a> |
            <a href="/search_item">Hae arvosteluita</a> | 
            {% if session.username%}
            <a href="/user/{{ session.user_id }}">Oma profiili</a> | 
            <a href="/new_item">Uusi arvostelu</a> |
            <a href="/logout">Kirjaudu ulos</a>
            {% else %}
            <a href="/login">Kirjaudu sisään</a> | 
            <a href="/register">Luo tunnus</a>
            {% endif %}
        </p>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="info">
        {{ message }}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}

</body>

</html>