<!DOCTYPE html>
<html>

<head>
    <title>Uusi arvostelu</title>
</head>

<body>
    <h1>Uusi arvostelu</h1>
    <form action="/create_item" method="post">
    <p>
        Kirjan nimi: <br />
        <input type="text" name="book_name" required maxlength="50"/>
    </p>
    <p>
        Kirjailija: <br />
        <input type="text" name="author" required maxlength="20"/>
    </p>
    <p>
        Kokonaisarvosana (1–10): <br />
        <input type="number" name="grade" min="1" max="10" step="0.5" required/>
    </p>
    <p>
        Arvostelu: <br />
        <textarea name="review" rows="15" cols="80" required maxlength="1000"></textarea>
    </p>
    <p>
        Genre: <br/>
        <select name="genre" required>
        <option value="">(valitse)</option>
        <option value="Dekkarit">Dekkarit</option>
        <option value="Fantasia">Fantasia</option>
        <option value="Kauhu">Kauhu</option>
        <option value="Lastenkirjallisuus">Lastenkirjallisuus</option>
        <option value="Nuortenkirjallisuus">Nuortenkirjallisuus</option>
        <option value="Tiede">Tiede</option>
        <option value="Huumori">Huumori</option>
        </select>
    </p>
    <p>
        Aikakausi: <br/>
        <select name="period" required>
        <option value="">(valitse)</option>
        <option value="2000–">2000–</option>
        <option value="1950–1999">1950–1999</option>
        <option value="1900–1949">1900–1949</option>
        <option value="1800–1899">1800–1899</option>
        <option value="–1799">–1799</option>
        </select>
    </p>
    <input type="submit" value="Luo arvostelu" />

</form>


</body>

</html>