{% extends "layout.html" %}

{% block title %}Uusi arvostelu{% endblock %}

{% block content %}
<h2>Uusi arvostelu</h2>
<form action="/create_item" method="post">
<p>
    <label for="book_name">Kirjan nimi: </label> <br />
    <input type="text" name="book_name" id="book_name" required maxlength="50"/>
</p>
<p>
    <label for="author">Kirjailija: </label> <br />
    <input type="text" name="author" id="author" required maxlength="20"/>
</p>
<p>
    <label for="grade">Kokonaisarvosana (1–10): </label><br />
    <input type="number" name="grade" id="grade" min="1" max="10" step="0.5" required/>
</p>
<p>
    <label for="review">Arvostelu: </label><br />
    <textarea name="review" id="review" rows="15" cols="80" required maxlength="1000"></textarea>
</p>

<p>
{% for class in classes %}
    <p>
    <label for="class{{ class }}">{{ class }}</label>:
    <select name="classes" id="class{{ class }}">
    <option value="">(valitse)</option>
    {% for option in classes[class] %}
        <option value="{{class}}:{{option}}">{{ option }}</option>
    {% endfor %}
    </select>
    </p>
{% endfor %}
</p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
<input type="submit" value="Luo arvostelu" />
</form>
{% endblock %}