<!DOCTYPE html>
<html>

<head>
    <title>Uusi arvostelu</title>
</head>

<body>
    <h1>Uusi arvostelu</h1>
    <form action="/create_item" method="post">
    <p>
        Kirjan nimi: <br />
        <input type="text" name="book_name" required maxlength="50"/>
    </p>
    <p>
        Kirjailija: <br />
        <input type="text" name="author" required maxlength="20"/>
    </p>
    <p>
        Kokonaisarvosana (1–10): <br />
        <input type="number" name="grade" min="1" max="10" step="0.5" required/>
    </p>
    <p>
        Arvostelu: <br />
        <textarea name="review" rows="15" cols="80" required maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Luo arvostelu" />
</form>


</body>

</html>