{% extends "layout.html" %}

{% block title %}Etsi arvioita{% endblock %}

{% block content %}

<h2>Hae arvosteluita</h2>
<form action="/search_item" method="GET">
    <label for="query">Hakusana: </label>
    <input type="text" name="query" id="query" value={{ query }}>
    <input type="submit" value="Hae">
</form>

{% if query %}
    {% for item in results %}
    <div class="item">
    <a href="/item/{{ item.id }}">
        {{ item.book_name}} — {{ item.grade }} </a> <br/>
        Kirjailija: {{ item.author }}
    </div>
    {% endfor %}
{% endif %}
{% endblock %}